<div class="bottom">
      <div class="friedlink"><b>友情链接：</b><span>
      <marquee direction="up" height="15" width="940" onmouseout="this.start()" onmouseover="this.stop()" scrollAmount="1" scrollDelay="1">
        <foreach name="links" item="link">
          <a href="http://{$link.url}">{$link.name}</a>
        </foreach>
      </marquee></span></div>
      <div class="finally">
        <p><b>国家部委</b>&nbsp;&nbsp;   技术部 公安部 民政部 财政部 交通部 水利部 商务部 卫生部 工业和信息化部 劳动保障部 审计署 人民银行 国土资源部 国资委 发展委会 国家民委<br/>
<b>地方</b> <b>政府</b> &nbsp; 北京  河北 山西 广东 海南 江苏 浙江 安徽 山东 江西 福建 湖南 黑龙江 吉林 辽宁 陕西 甘肃 四川 云南 贵州 台湾 内蒙古 宁夏 新疆 广西
西藏 天津 重庆 香港 澳门<br/>
<b>新闻</b> <b>媒体</b>&nbsp;&nbsp;  新华网 人民网 央视网国际 光明网 国际在线 中国经济网 法制网 中国经营网 中国企业报 新传媒网 凤凰网 网易 搜狐网 腾讯网 新浪网 互联网周刊
</p>
      <p style="text-align:center;">版权所有：中国电子商务协会质量促进分会<br/>
 地址：北京市海淀区万寿路27号院 （国家工业和信息化部机关大院）邮编：100846
</p>
      </div>
   </div>