<include file="Public/top" />
      <div class="main">
         <div class="nowthat">
           <b>当前位置：</b>
           <a href="/">首页</a>
             &gt;&gt; 
            <foreach name="type" item="t">
              <if condition="$t['id'] eq $new['pid']"> 
                <a href="__APP__/t_{$t.namepath}/">{$t.name}</a>
              </if>
            </foreach>
            &gt;&gt;
           {$new.title}
         </div>
          <div class="article">
           
            <h2>{$new.title}</h2><br/>
            <span> 日期:{$new.releasetime} 　　<notempty name="new.name">发布人：{$new.name}</notempty> </span>
           　　{$new.content} 
　         <a href="javascript:window.close()" >关闭窗口</a>
          </div>
          
      </div>
  <include file="Public/foot" />
  <script>
    function winClose(){ window.top.opener = null; window.close(); }
  </script>
</body>
</html>
