<include file="Public/top" />
     <div class="banner" style='display:none;'><img src="__PUBLIC__/home/images/aa_03.jpg"></div>
   <div class="main">
	   <style>
		.news_one{margin:10px 0px;float:left;width:100%;}
		.news_left{width: 150px;float:left;}
		.news_left ul li{border: 1px solid #d5d5d5;font-size: 14px;text-align:center;line-height:40px;margin:10px 0px;border-radius:10px;}
		.news{float:left;margin:0px 20px;}
		.news_right{width: 150px;float:right;}
		.news_right ul li{border: 1px solid #d5d5d5;font-size: 14px;text-align:center;line-height:44px;margin:11px 0px;border-radius:10px;}
	   	.news_left ul div{border: 1px solid #d5d5d5;border-radius: 10px;font-size: 15px;height: 117px;text-align: center;}
	   	.news_left span{margin:5px 0px;display: block;font-size: 12px;}
	   	.button{background: #2299bb none repeat scroll 0 0;color: #fff;cursor: pointer;border: 0;font-size: 12px;}
	   </style>
		<div class='news_one'>
		<div class='news_left'>
			<ul>
				<li style='margin-top:0px;'><a href=''>协会概况</a></li>
				<li><a href=''>分会简介</a></li>
				<li><a href=''>组织机构</a></li>
				<div id='ulogin' <notempty name="user"> style='display:none;' </notempty>>会 员 登 陆 入 口
					<form id='myform' onsubmit="return false;">
						<span>用户名<input type="text" name='name' size='11'></span>
						<span>密　码<input type="password" name='pass' size='11'></span>
						<span>
							<button class='button' onclick='doCheck()'>登录</button>&nbsp;&nbsp;&nbsp;
							<input type="reset" class='button' value='重置'>
						</span>
					</form>
				</div>
				<div id='user' <empty name="user"> style='display:none;' </empty>>
					<span style='text-align:left;padding:0 5px;'>您好：<a id='name'>{$user.name}</a></span>
					<span style='text-align:left;padding:0 5px;'>上次登录时间:<br/><a id='time'>{$user.time|date="Y-m-d H:i",###}</a></span>
					<button class='button' onclick='doQuit()' >退出</button>
				</div>
			</ul>
		</div>
		<div class="news">
			<dl>
			<dt><h2>{$type.0.name}</h2><span><a href="{:U('/t_'.$type[0]['namepath'])}">更多>></a></span></dt>
			<dd>
			  <img src="__PUBLIC__/home/images/img1.png" width="304" height="216">
			  <span>
          <foreach name="new[$type[0][namepath]]" item="content" >
            <a href="{:U('/'.$type[0]['namepath'].'/'.$content['id'])}" title='{$content.title}'>{$content.title}</a>
          </foreach >
			  </span> 
			</dd>
			</dl>
		</div>
		<div class='news_right'>
			<ul>
				<li style='margin-top:0px;'><a href="{:U('Comquery/index')}">获证企业资质查询</a></li>
				<li><a href="{:U('Comquery/user')}">评审人员资格查询</a></li>
				<li><a href="{:U('Comquery/institutions')}">评审机构信息查询</a></li>
				<li><a href=''>在线申报</a></li>
				<li><a href="{:U('Message/index')}">在线投诉</a></li>
			</ul>
		</div>
        </div>
		<div class="banner1"><img src="__PUBLIC__/home/images/img2.png"></div>
   </div>
   <div class="main">
     <div class="lfmain">

        <volist name="type" id="t" offset="1">
        <div class="hot">
           <dl>
              <dt><h2>{$t.name}</h2><span><a href="{:U('/t_'.$t['namepath'])}">更多>></a></span></dt>
              <dd>
                <volist name="new[$t['namepath']]" id="content" offset="0" length='3'>
                 <a href="{:U('/'.$t['namepath'].'/'.$content['id'])}" title='{$content.title}'>{$content.title}</a>
                 </volist>
              </dd>
           </dl>
         </div>
        </volist>
     </div>
   </div>
    <div class="banner2"><img src="__PUBLIC__/home/images/img3.png"></div>
   <include file="Public/foot" />
</body>
	<script>
	  	function doCheck() {
	  		var name = $("input[name='name']").val();
	        var pass = $("input[name='pass']").val();
	        if(name.length<5){
	        	alert("请输入同户名");
	        	return false;
	        }
	        if(pass.length<6){
	        	alert("密码填写不正确");
	        	return false;
	        }
	      	$.ajax({
		        "url":"/index.php?s=/index/login.html",
		        "type":"post",
		        "data":$("#myform").serialize(),
		        "success":function(data){
		        if(data !== false){
		        	$('#name').html(data.name);
		        	$('#time').html(data.time);
		        	$('#ulogin').hide();
		        	$('#user').show();
		        }else{
		        	alert('登录失败，账号或密码错误!');
		        }
	        },
	        "async":false,
	        'dataType':"json"
	      	});
    	}
    	function doQuit(){
    		$.ajax({
		        "url":"/index.php?s=/index/quit.html",
		        "type":"post",
		        "data":"1",
		        "success":function(data){
		        	if(data == 1){
		        		window.location.reload();
		        	}
		        },
		        "async":false,
		        'dataType':"json"
		      	});
    	}
	</script>
</html>
