<extend name="Public:header" />
<block name='head'>
<head>
	<meta charset="utf-8" />
	<title>添加友联</title>

	<meta name="description" content="Common form elements and layouts" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- basic styles -->

	<link href="__PUBLIC__/assets/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="__PUBLIC__/assets/css/font-awesome.min.css" />

	<!--[if IE 7]>
	  <link rel="stylesheet" href="__PUBLIC__/assets/css/font-awesome-ie7.min.css" />
	<![endif]-->

	<!-- page specific plugin styles -->

	<link rel="stylesheet" href="__PUBLIC__/assets/css/jquery-ui-1.10.3.custom.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/assets/css/chosen.css" />
	<link rel="stylesheet" href="__PUBLIC__/assets/css/datepicker.css" />
	<link rel="stylesheet" href="__PUBLIC__/assets/css/bootstrap-timepicker.css" />
	<link rel="stylesheet" href="__PUBLIC__/assets/css/daterangepicker.css" />
	<link rel="stylesheet" href="__PUBLIC__/assets/css/colorpicker.css" />

	<!-- fonts -->

	<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-fonts.css" />

	<!-- ace styles -->

	<link rel="stylesheet" href="__PUBLIC__/assets/css/ace.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-rtl.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-skins.min.css" />

	<!--[if lte IE 8]>
	  <link rel="stylesheet" href="__PUBLIC__/assets/css/ace-ie.min.css" />
	<![endif]-->

	<!-- inline styles related to this page -->

	<!-- ace settings handler -->

	<script src="__PUBLIC__/assets/js/ace-extra.min.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

	<!--[if lt IE 9]>
	<script src="__PUBLIC__/assets/js/html5shiv.js"></script>
	<script src="__PUBLIC__/assets/js/respond.min.js"></script>
	<![endif]-->
</head>
</block>

<block name='main-content'>
<div class="main-content">
	<div id="breadcrumbs" class="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<a href="__APP__">首页</a>
			</li>

			<li>
				<a href="__APP__/User/add">添加用户</a>
			</li>
		</ul><!-- .breadcrumb -->
	</div>

	<div class="page-content">
		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->

				<form action="" method="post" name='myform' role="form" class="form-horizontal" onsubmit="return doCheck()">
					<div class="form-group">
						<label for="form-field-1" class="col-sm-3 control-label no-padding-right">友情链接名称</label>

						<div class="col-sm-9">
							<input type="text" class="col-xs-10 col-sm-5" name='name' placeholder="账号" id="form-field-1"/>
							<span class="help-inline col-xs-12 col-sm-7">
								<span class="middle">*</span>
							</span>
						</div>
					</div>

					<div class="form-group">
						<label for="form-field-1" class="col-sm-3 control-label no-padding-right">URL地址</label>

						<div class="col-sm-9">
							<input type="text" class="col-xs-10 col-sm-5" name='url' placeholder="URL地址" id="form-field-1"/>
							<span class="help-inline col-xs-12 col-sm-7">
								<span class="middle">*&nbsp;(例如&nbsp;&nbsp;www.abcd.com&nbsp;&nbsp;不需要加HTTP)</span>
							</span>
						</div>
					</div>


					<div class="space-4"></div>
					<div class="form-group">
						<label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 选择添加状态 </label>

						<div class="col-sm-9">
							<div class="radio">
								<label>
									<input type="radio" name='state' value='1' checked class="ace" name="form-field-radio">
									<span class="lbl"> 开启</span>
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name='state' value='2' class="ace" name="form-field-radio">
									<span class="lbl"> 禁用</span>
								</label>
							</div>
						</div>
					</div>

					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button type="submit" class="btn btn-info">
								<i class="icon-ok bigger-110"></i>
								确认
							</button>
							&nbsp; &nbsp; &nbsp;
							<button type="reset" class="btn">
								<i class="icon-undo bigger-110"></i>
								重置
							</button>
						</div>
					</div>
				</form>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
</div>
<script type="text/javascript">
            //获取所有的input节点并添加事件
            var list = document.getElementsByTagName("input");
            //遍历
            for(var i=0;i<list.length;i++){
                //添加失去焦点事件
                list[i].onblur=function(){
                    switch(this.name){
                        case "name": checkUname(); break;
                        case "url": checkurl(); break;
                    }
                }
            }
           
            //表单验证函数
            function doCheck(){
                return checkUname() && checkurl();
            }
       
            //验证名称
            function checkUname(){
                var uname = $("input[name='name']").val();
                if(uname.length<1){
                   $("input[name='name']").next().children().html("不可为空!") ;
                    return false;
                }
                $("input[name='name']").next().children().html("√") ;
                return true;
            }
            //验证地址
            function checkurl(){
                var pass = $("input[name='url']").val();
                if(pass.length<6){
                	$("input[name='url']").next().children().html("不可为空!");
                    return false;
                }
                $("input[name='url']").next().children().html("√") ;
                return true;
            }
        </script>
</block>