/* CSS Document */
body{ font-size:12px; line-height:25px; color:#014e5c;background-color:#F5FFFA}
body,dl,dt,ul,dd,li,ol,span,h2,h3{ margin:0; padding:0; list-style:none;}
img{ border:none;}
 a{color:#014e5c; text-decoration:none;}
.header,.main,.bottom{ width:1000px; margin:0 auto; overflow:hidden;}
.top{ width:100%; background:#eef5ef; height:28px; line-height:28px; border-bottom:solid 1px #d5dfd5;}
/* .lfmain{ float:left; width:490px;} */
/* .rfmain{ float:right; width:490px;} */
.lefttop{ float:left; width:300px;padding-left:20px;}
.righttop{ float:right; width:280px;  }
.righttop ul li{ float:left; width:70px;  }
.righttop ul li a{ text-decoration:none; text-align:center;color:#014e5c;}
.banner{ margin:0px auto; width:1000px;}
.banner img{ width:1000px;}
.logo{ width:300px; float:left;}
.search{ float:right; height:40px; margin-top:15px; background:#dddcdc; line-height:40px; border-radius:5px; width:500px; border:solid 1px #ccc;}
.ytext{ height:20px; line-height:20px; color:#666; width:350px; display:inline-block; margin-left:10px;}
.ysubmit{ display:inline-block; width:90px; height:27px; line-height:25px; border-radius:3px; border:none; background:none; color:#fff; font-size:14px; font-weight:bold; background:#fe8226; cursor:pointer; }
 .header{ padding:10px 0px;}
.nav{ clear:both; background:#0099cc; height:40px; border:solid 1px #ccfaf4; border-radius:2px; }
.nav ul{ width:900px; margin:0 auto;} 
.nav ul li{ float:left; width:180px; display:inline-block; text-align:center; line-height:40px;}
.nav ul li a{ text-decoration:none; color:#fff; font-size:14px; font-weight:bold;}
.nav ul li a:hover{ text-decoration:underline;}

.news{ border:solid 1px #d5d5d5; overflow:hidden;width:650px;}
.hot{ border:solid 1px #d5d5d5; overflow:hidden;width:480px;float:left;}
.listny{border:solid 1px #d5d5d5; overflow:hidden;}
.news dl dt,.hot dl dt,.listny dl dt { height:30px; background:#f3f3f3; border-bottom:solid 1px #d5d5d5;}
.news dl dt h2,.hot dl dt h2,.listny dl dt h2{ line-height:30px; width:100px; background:url(../images/dd.png) no-repeat 5px 7px; padding-left:15px; float:left; text-align:center;}
.news dl dt span,.hot dl dt span{ line-height:30px; width:50px; float:right;}
.news dl dt span a,.hot dl dt span a{ text-decoration:none;color:#014e5c;}
.news dl dt span a:hover,.hot dl dt span a:hover{ color:#F00;}
.news dl dd{ clear:both;}
.news dl dd img{ float:left; margin:10px; border:solid 1px #f3f3f3;}
.news dl dd span{ display:block; float:left;  }
.news dl dd span a{   text-decoration:none; display:block;color:#014e5c; background:url(../images/ee.png) no-repeat 0px 10px; padding-left:15px; font-size:14px; height:30px; line-height:30px;}
 .news dl dd span a:hover,.hot dl dd a:hover{ text-decoration:underline; color:#F93;}
 .banner1{ margin:10px 0px 5px 0px;}
 .banner1 img{ width:1000px;}
 .hot dl dd{ text-align:left; padding:20px 0px 10px 20px;}
 .hot dl dd a{ display:block; height:25px; line-height:25px; background:url(../images/ee.png) no-repeat 0px 10px; padding-left:12px;}
 .hot{ margin-bottom:15px;margin-left:15px;}
 .banner2{ width:1000px; margin:0 auto;}
 .banner2 img{ width:1000px;}
 
 .friedlink b{ font-weight:normal; float:left; display:block; width:60px;}
 .friedlink span{ float:left; display:block;} 
 .friedlink span a{ margin-right:10px;}
 
 .nowthat{ height:32px; line-height:32px; padding:0px 32px; margin-bottom:15px; background: url(../images/bgnav.gif) repeat-x 0px -550px;}
 .nowthat a:hover,.next a:hover{ color:#F93; text-decoration:underline;}
 .listleft{ width:250px; float:left;}
 .listright{ width:750px; float:right;} 
 .listny dl dd a{ display:block; width:200px; height:27px; margin:15px auto; text-align:left; padding-left:15px; border:solid 1px #d5d5d5; line-height:27px;}
 .listny dl dd a.cli{ background:#0099cc; color:#fff;}
 .listny dl dd a:hover{background:#0099cc; color:#fff;}
 .colum dl dt{ height:35px; line-height:35px; width:720px; display:block; margin:0 auto; border-bottom:solid 2px #0099cc;}
 .colum dl dd{ padding:10px 30px;}
 .colum dl dd span{ display:block; height:30px;}
  .colum dl dd span e{ float:right; display:block; font-size:14px;}
 .colum dl dd a{ display:block; height:30px; line-height:30px; font-size:14px;background: url(../images/bgnav.gif) no-repeat 5px -1146px; padding-left:20px; float:left;}
 .colum dl dd a:hover{ text-decoration:underline;}
 .next{ text-align:center; margin-bottom:20px;}
 .next a{ margin:0px 5px;}
 .article{ text-align:left; border:solid 1px #d5d5d5; padding:15px; color:#666; font-size:14px; border-radius:3px; margin-bottom:20px;}
 .article h2,.article span{ text-align:center; display:block;}
 .article h2{ font-size:16px; color:#014e5c; }
 .article span{ font-size:12px;color:#014e5c; }
.article a{ width:65px; display:block; height:20px; text-align:center; line-height:20px; float:right; border:solid 1px #d5d5d5; color:#999; border-radius:3px;}
.article a:hover{ color:#014e5c;border:solid 1px #014e5c}
 
.fr {display: inline;float: right;}
.r3 {border: 1px solid #d7d7d7;height: auto;overflow: hidden; width: 740px;}
.r748 {padding: 20px 40px;text-align: left;width: 668px;}
.r748 h3, .r748 p {margin-bottom: 10px;}
.msg {background: #f9f9f9 none repeat scroll 0 0; border: 1px solid #f1f1f1;margin-bottom: 30px;padding: 9px 18px;}
.zc {margin-bottom: 80px;margin-left: 60px; width: 600px;}
.zc th, .zc td {vertical-align: top;}
.zc th {font-weight: normal;padding-top: 7px;text-align: right;}
.zc td {padding: 8px 0;}
.red {color: #fd0000;}
.btn2 { background: rgba(0, 0, 0, 0) url("../images/btn1.png") no-repeat scroll 0 0;border: medium none;cursor: pointer;height: 26px;width: 87px;}
   