<extend name="Public:header" />
<block name='head'>
<head>
	<meta charset="utf-8" />
	<title>查看所有用户</title>

	<meta name="description" content="Static &amp; Dynamic Tables" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- basic styles -->

	<link href="__PUBLIC__/assets/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="__PUBLIC__/assets/css/font-awesome.min.css" />

	<!--[if IE 7]>
	  <link rel="stylesheet" href="__PUBLIC__/assets/css/font-awesome-ie7.min.css" />
	<![endif]-->

	<!-- page specific plugin styles -->

	<!-- fonts -->

	<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-fonts.css" />

	<!-- ace styles -->

	<link rel="stylesheet" href="__PUBLIC__/assets/css/ace.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-rtl.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-skins.min.css" />

	<!--[if lte IE 8]>
	  <link rel="stylesheet" href="__PUBLIC__/assets/css/ace-ie.min.css" />
	<![endif]-->

	<!-- inline styles related to this page -->

	<!-- ace settings handler -->

	<script src="__PUBLIC__/assets/js/ace-extra.min.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

	<!--[if lt IE 9]>
	<script src="__PUBLIC__/assets/js/html5shiv.js"></script>
	<script src="__PUBLIC__/assets/js/respond.min.js"></script>
	<![endif]-->
</head>
</block>
<block name='main-content'>
<div class="main-content">
	<div id="breadcrumbs" class="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<a href="__APP__">首页</a>
			</li>
			<li>
				<a href="__APP__/user/index">查看所有用户</a>
			</li>
		</ul><!-- .breadcrumb -->
	</div>

	<div class="page-content">
		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="row">
					<div class="col-xs-12">
						<div class="table-header">
							Results for "Latest user"
						</div>

						<div class="table-responsive">
							<div role="grid" class="dataTables_wrapper" id="sample-table-2_wrapper">
								<div class="row">
										<div class="col-sm-6">
											<div id="sample-table-2_length" class="dataTables_length">
												<div class="dataTables_filter" id="sample-table-2_filter">
													<form action="__ACTION__" method='post'>
													<label>搜索公司名称: <input type="text" name='name' aria-controls="sample-table-2"></label>
													<button class="btn btn-sm btn-primary">搜索</button>
													</form>
												</div>
												
											</div>
										</div>
								</div>
								<table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
								<thead>
									<tr role="row">
										<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" style="width: 120px;" aria-label="Domain: activate to sort column ascending">用户名</th>
										<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" style="width: 160px;" aria-label="Price: activate to sort column ascending">公司名称</th>
										<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" style="width: 120px;" aria-label="Price: activate to sort column ascending">邮箱</th>
										<th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" style="width: 100px;" aria-label="Clicks: activate to sort column ascending">联系电话</th>
										<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" style="width: 100px;" aria-label="Update: activate to sort column ascending"><i class="icon-time bigger-110 hidden-480"></i>注册时间</th>
										<th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" style="width: 40px;" aria-label="Status: activate to sort column ascending">状态</th>
										<th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 130px;" aria-label="">操作</th></tr>
								</thead>

								
							<tbody role="alert" aria-live="polite" aria-relevant="all">

								<foreach name="users" item="user" >
								<tr class="odd">
										<td class="">
											<a href="__CONTROLLER__/show/id/{$user.id}">{$user.username}</a>
										</td>
										<td class=" ">{$user.name}</td>
										<td class=" ">{$user.email}</td>
										<td class="hidden-480 ">{$user.phone}</td>
										<td class=" ">{$user.inputtime|date="Y-m-d H:i",###}</td>

										<td class="hidden-480 ">
											<if condition="$user.state eq 1">
												<span class="label label-sm label-warning">普通用户</span>
											<elseif condition="$user.state eq '2'"/>
												<span class="label label-sm label-inverse arrowed-in">禁止使用</span>
											<elseif condition="$user.state eq '0'"/>
												<span class="label label-sm label-success">后台管理员</span>
											</if>
										</td>
										<td class=" ">
											<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
												<a href="__CONTROLLER__/show/id/{$user.id}" class="blue" title='查看详情'>
													<i class="icon-zoom-in bigger-130"></i>
													查看
												</a>

												<a href="__CONTROLLER__/update/id/{$user.id}" class="green" title='修改信息'>
													<i class="icon-pencil bigger-130"></i>
													修改
												</a>

												<a href="javascript:;" onclick="delfun({$user.id})" class="red" title='删除'>
													<i class="icon-trash bigger-130"></i>
													删除
												</a>
											</div>
										</td>
									</tr>
								</foreach>
								</tbody></table><div class="row"><div class="col-sm-6"><div class="dataTables_info" id="sample-table-2_info">共{$count}条数据&nbsp;&nbsp;&nbsp;总页数&nbsp;{$num}</div></div><div class="col-sm-6">
								<div class="dataTables_paginate paging_bootstrap">
									<ul class="pagination">
										{$pages}
									</ul></div></div></div></div>
						</div>
					</div>
				</div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
</div>
<script>
function delfun(userid){
	if(confirm("确认删除本数据?")){
		window.location.href='__CONTROLLER__/delete/id/'+userid;
	}
}
</script>
</block>